{% extends "base.html" %}

{% block content %}
   <h1>page tasks Pending</h1>

   <ul>
      
      {% for task in tasks %}
         <li>
            <a href="{% url 'task_detail' task.id %}">{{ task.title }}
               {% if task.important %}
                  <strong>{{ task.title }}</strong>
               {% else %}
                  {{ task.title }}
               {% endif %}
        
               <p>{{ task.description }}</p>
               <p>{{ task.user.username }}</p>
               <p>{{ task.datecompleted | date:"Y-m-d" }}</p>
            </a>
         </li>
      {% endfor %}
   </ul>

{% endblock %}